<!DOCTYPE html>
<html>
<head>
<?php
    readfile($_SERVER['DOCUMENT_ROOT']."/sparrow/Views/share/template/htmlHeader.html");
?>

<link rel="stylesheet" href="/sparrow/css/login.css" type="text/css" media="screen">
<script src="/sparrow/scripts/eventRegister.js"></script>
<title>雀オフ　管理　イベント登録・編集</title>
</head>
<body>
<form class="form-signin">
  <h1 class="h3 mb-3 font-weight-normal">管理画面　イベント登録・編集</h1>

  if($eventId !== ""){
      $eventDetail = callStored("getEvent",array('event_id'=>$eventId));
echo <<<EOF
  <input type="text" id="eventId" class="form-control" placeholder="eventID" disabled=true>
  <input type="text" id="eventName" class="form-control" placeholder="イベント名" required autofocus>
  <input type="text" id="tableNumber" class="form-control" placeholder="卓数" required>
  <input type="date" id="eventDate" class="form-control" placeholder="開催日" required>
EOF;
  }else{
    echo "<input type='text' id='eventId' class='form-control' placeholder='eventID' disabled=true value='".$eventId."'>";
    echo "<input type='text' id='eventName' class='form-control' placeholder='イベント名' disabled=true value='".$eventDetail["event_name"]."'>";
    echo "<input type='text' id='tableNumber' class='form-control' placeholder='卓数' disabled=true value='".$eventDetail["table_number"]."'>";
    echo "<input type='text' id='eventDate' class='form-control' placeholder='開催日' disabled=true value='".$eventDetail["event_name"]."'>";
  }
  <button class="btn btn-lg btn-primary btn-block registerButton" type="button">登録</button>
</form>
<?php
    readfile($_SERVER['DOCUMENT_ROOT']."/sparrow/Views/share/template/htmlFooter.html");
?>
</html>
